@import './../../styles/colors';

.movie-card {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;

  header {
    max-height: 120vw;
    overflow: hidden;

    .poster {
      width: 100vw;
      min-width: 20rem;
      filter: brightness(0.7);
    }
  }

  main {
    position: relative;
    margin-top: -12rem;
    background-image: linear-gradient(to bottom, transparent, $color-black 7rem);

    .title {
      margin: 0;
      padding: 5rem 0 0;
      color: white;
      font-weight: 400;
      font-size: 2.5rem;
    }

    .additionalInfo {
      font-size: 0.8rem;
    }

    .plot {
      h3 {
        font-variant: small-caps;
        font-size: 1.1rem;
        font-weight: 400;
        color: white;
      }
    }
  }

  main,
  footer {
    padding: 0.5rem;
  }

  footer {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    background-color: $color-black;

    & > *:not(:last-child),
    & > * > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  section {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  p {
    margin: 0;
  }
}
