@import './../../styles/colors';

.menu {
  position: absolute;
  width: 100vw;

  .menu-button {
    border-radius: 0;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    height: 2rem;
    width: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    z-index: 20;
    position: absolute;
    left: 0;
  }

  .menu-options {
    width: 100vw;
    height: 100vh;
    background-color: $color-black;
    z-index: -10;
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      flex-grow: 1;
      transform: translateY(-50%) scale(0.5);
      transition: all 0.3s ease-out;

      a {
        &,
        &:visited {
          display: block;
          padding: 1.5rem;
          text-align: center;
          transition: all 0.1s ease-in;
          color: rgba(255, 255, 255, 0.4);
          font-weight: 200;
          font-size: 1.8rem;
        }

        &:hover {
          text-decoration: none;

          &:not(.active) {
            background-color: $color-pink;
            color: rgba(255, 255, 255, 0.5);
          }
        }

        &.active {
          color: $color-pink;
          cursor: default;
        }
      }
    }
  }

  &:not(.collapsed) {
    height: 100vh;

    .menu-options {
      z-index: 10;
      opacity: 1;

      ul {
        transform: translateY(0) scale(1);
      }
    }
  }
}
