@import './../../styles/colors';

@mixin delay-animation-for-nth-child($index) {
  &:nth-child(#{$index}) a {
    animation-delay: ($index - 1) * 100ms;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-results-list {
  margin: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    @for $index from 1 through 10 {
      @include delay-animation-for-nth-child($index);
    }
  }

  a {
    display: block;
    padding: 0.8rem 1rem 1rem;
    font-size: 1rem;
    color: white;
    font-weight: 200;
    background-color: #262626;
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border: 1px solid $color-black;
    border-bottom: none;
    transition: all 0.1s ease-in;

    &:hover {
      text-decoration: none;
      background-color: #363636;
      color: white;
    }
  }

  h4 {
    color: $color-pink;
    font-size: 1.1rem;
    transition: all 0.1s ease-in;
    font-weight: inherit;
  }
}
