.login {
  padding: 10px 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;

  .logo {
    margin-bottom: 0.7em;
  }

  .card {
    background-color: transparent;
    box-shadow: none;
    border: none;

    .card-body {
      padding: 0;
    }
  }

  .btn {
    margin-top: 30px;
  }
}
