.login {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

  .btn {
    margin-top: 30px;
  }
}
